body {
    color: purple;
    background-color: lightgray;
    font-family: fantasy;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../../images/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.black-span {
    color: black;
}




header nav {
    display: flex;
    /*    flex-direction: column;*/
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

ul {
    flex: 1;
    list-style-type: none;
}

li {
    padding: 0px 0px 0px 10px;
}

.centered {
    color: purple;

    padding: 11px 11px 11px 11px;
    border: 2px solid;
    margin: 0 auto 0 auto;
    width: 80%;
}

header nav a {
    text-decoration: none;
}

h1,
h2 {
    color: purple;
}

.topheading {
    color: black;
}

#new {

    color: yellow;
    font-style: italic;
    font-size: 4em;
    border: 8px dotted yellow
}


img {

    border: 4px dotted black
}
